* {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    outline: none !important;
    font-family: "JetBrainsMono Nerd Font";
    color: #ebdbb2 !important;
    background-color: #191c1c !important;
}

#tabbrowser-arrowscrollbox {
    height: 35px !important;
}

.tabbrowser-tab {
    border-bottom: 5px solid #ebdbb2 !important;
}

.tabbrowser-tab:is([selected="true"]):not([pinned]) {
    max-width: 100% !important;
    border-bottom: 5px solid #cc241d !important;
}

/* Disable tab animations */
.tabbrowser-tab {
    transition: none !important;
}

.tab-label-container {
    text-align: center;
    background-color: #2b2b2b !important;
}

.tab-text, .tab-content {
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 100% !important;
    font-weight: bold;
    background-color: #2b2b2b !important;
}

.urlbar-container {
    text-align: center !important;
}

/* Hide elements */
toolbarbutton {
    display: none !important;
}

.urlbar-searchmode-switcher, 
.tab-close-button, 
.tab-icon-image,
.tab-icon-stack,
.close-icon {
    display: none !important;
}

#back-button, 
#forward-button, 
#home-button,
#tracking-protection-icon-container,
#identity-box,
#translations-button,
#star-button,
#star-button-box,
#reader-mode-button-icon {
    display: none !important;
}
