* {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    outline: none !important;
    font-family: "JetBrainsMono Nerd Font";
    color: #ebdbb2 !important;
    background-color: #191c1c !important;
}

toolbarbutton {
    display: none !important;
}

.tab-label-container {
    text-align: center;
    background-color: #2b2b2b !important;
}

.tab-text, .tab-content {
    width: 100% !important;
    font-weight: bold;
    background-color: #2b2b2b !important;
}

.urlbar-container {
    text-align: center !important;
}

/* Hide elements */
.urlbar-searchmode-switcher, 
.tab-close-button, 
.tab-icon-image,
.close-icon {
    display: none !important;
}

#back-button, 
#forward-button, 
#home-button,
#tracking-protection-icon-container,
#identity-box,
#translations-button,
#star-button,
#reader-mode-button-icon {
    display: none !important;
}
