@import "frappe.css";

* {
    font-family: 'Noto Sans';
    font-weight: 800;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    text-shadow: none;
}

window#waybar {
    background-color: rgba(48, 52, 70, 0.7);
    transition: background-color 0.5s;
    border-radius: 10;
}

window#waybar.hidden {
    opacity: 0.2;
}

#clock {
    font-size: 25px;
    color: @mauve;
    padding: 0px 10px 0px 0px;
    margin: 5px 5px 5px 0px;
    border-radius: 5;
}

#backlight,
#network,
#wireplumber,
#bluetooth,
#mode {
    font-size: 14px;
    color: @text;
    padding: 5px 10px;
}

#wireplumber:hover,
#backlight:hover {
    color: @mauve;
    transition: color 0.5s;
}

#workspaces button {
    padding: 0 10 0 10;
    color: @text;
}

/* Litte hack to get rid of the hover effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: transparent;
    border: @mauve;
    color: @mauve;
}

#workspaces button.focused {
    color: @mauve;
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#mode {
    box-shadow: inherit;
    text-shadow: inherit;
    background: transparent;
    background-color: transparent;
}

#mode {
    font-size: 20px;
    color: @mauve;
}

label:focus {
    background-color: #000000;
}

tooltip {
    background-color: rgba(48, 52, 70, 0.7);
    border-radius: 10;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
